[submodule "reviews"]
	path = reviews
	url = https://github.com/Team-Kylo/reviews
[submodule "Product-Details"]
	path = Product-Details
	url = https://github.com/Team-Kylo/Product-Details
[submodule "Additional-Items"]
	path = Additional-Items
	url = https://github.com/Team-Kylo/Additional-Items
[submodule "Image-Carousel"]
	path = Image-Carousel
	url = https://github.com/Team-Kylo/Image-Carousel
