#productPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#allButAdd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#productDetails {
}

#imageAndReviews {
 flex-direction: column;
 padding-right: 400px;
}

#additionalItems {
 display: flex;
 justify-content: center;
 padding-top: 25px;
}

#reviews {
  padding-top: 25px;
}